*, *::before, *::after {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  -webkit-perspective: 20em;
          perspective: 20em;
  overflow-y: hidden;
}

.dna {
  position: relative;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.link {
  margin: 1em auto;
  width: 10em;
  height: 1em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: linkY 15s infinite linear;
          animation: linkY 15s infinite linear;
  -webkit-animation-delay: var(--iad);
          animation-delay: var(--iad);
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
  /* This is for the DNA strand to be colorful..without this it is plain black */
  /* This is for the DNA strand to be colorful..without this it is plain black */
  /* This is for the DNA strand to be colorful..without this it is plain black */
  /* This is for the DNA strand to be colorful..without this it is plain black */
}

.link:nth-child(1) {
  --iad: 0s;
}

.link:nth-child(2) {
  --iad: -0.625s;
}

.link:nth-child(3) {
  --iad: -1.25s;
}

.link:nth-child(4) {
  --iad: -1.875s;
}

.link:nth-child(5) {
  --iad: -2.5s;
}

.link:nth-child(6) {
  --iad: -3.125s;
}

.link:nth-child(7) {
  --iad: -3.75s;
}

.link:nth-child(8) {
  --iad: -4.375s;
}

.link:nth-child(9) {
  --iad: -5s;
}

.link:nth-child(10) {
  --iad: -5.625s;
}

.link:nth-child(11) {
  --iad: -6.25s;
}

.link:nth-child(12) {
  --iad: -6.875s;
}

.link:nth-child(13) {
  --iad: -7.5s;
}

.link:nth-child(14) {
  --iad: -8.125s;
}

.link:nth-child(15) {
  --iad: -8.75s;
}

.link:nth-child(16) {
  --iad: -9.375s;
}

.link:nth-child(17) {
  --iad: -10s;
}

.link:nth-child(18) {
  --iad: -10.625s;
}

.link:nth-child(19) {
  --iad: -11.25s;
}

.link:nth-child(20) {
  --iad: -11.875s;
}

.link:nth-child(21) {
  --iad: -12.5s;
}

.link:nth-child(22) {
  --iad: -13.125s;
}

.link:nth-child(23) {
  --iad: -13.75s;
}

.link:nth-child(24) {
  --iad: -14.375s;
}

.link:nth-child(4n + 1) {
  --clr1: hsl(60, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
  --clr2: hsl(240, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
}

.link:nth-child(4n + 2) {
  --clr1: hsl(150, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
  --clr2: hsl(330, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
}

.link:nth-child(4n + 3) {
  --clr1: hsl(240, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
  --clr2: hsl(420, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
}

.link:nth-child(4n + 4) {
  --clr1: hsl(330, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
  --clr2: hsl(510, 100%, 75%);
  /* These clr will determine the clr of the DNA strand */
}

.link > div {
  /* Direct child divs inside link div...they are all the rods btw the Balls*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  /* Opacity for the rods btw the balls */
  background-image: radial-gradient(#000, #0000), -webkit-gradient(linear, left top, right top, from(var(--clr1)), to(var(--clr2)));
  background-image: radial-gradient(#000, #0000), linear-gradient(90deg, var(--clr1), var(--clr2));
  /* This is for the rods to have background as the hue rotate clr */
  -webkit-box-shadow: 0 0 0.5em #fff7;
          box-shadow: 0 0 0.5em #fff7;
  animation: linkX 7.5s infinite linear reverse;
}

@-webkit-keyframes linkX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes linkX {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

.link > div:nth-child(1) {
  -webkit-animation-delay: calc(var(--iad) + 0s);
          animation-delay: calc(var(--iad) + 0s);
}

.link > div:nth-child(2) {
  -webkit-animation-delay: calc(var(--iad) + -1.875s);
          animation-delay: calc(var(--iad) + -1.875s);
}

.link > div:nth-child(3) {
  -webkit-animation-delay: calc(var(--iad) + -3.75s);
          animation-delay: calc(var(--iad) + -3.75s);
}

.link > div:nth-child(4) {
  -webkit-animation-delay: calc(var(--iad) + -5.625s);
          animation-delay: calc(var(--iad) + -5.625s);
}

.link::before, .link::after {
  content: '';
  position: absolute;
  top: -0.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  /* Makes the balls round */
  animation: linkY 15s infinite linear reverse;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}

.link::before {
  left: -1.75em;
  -webkit-box-shadow: 0 0 1em var(--clr1);
          box-shadow: 0 0 1em var(--clr1);
  background-image: radial-gradient(circle at 50% 25%, #fff, var(--clr1), #000 90%);
  /* Makes the before pseduo code balls clrful */
}

.link::after {
  right: -1.75em;
  -webkit-box-shadow: 0 0 1em var(--clr2);
          box-shadow: 0 0 1em var(--clr2);
  background-image: radial-gradient(circle at 50% 25%, #fff, var(--clr2), #000 90%);
  /* Makes the after pseduo code balls clrful */
}

@-webkit-keyframes linkY {
  /* Without this the DNA strand doesnt move and just stays there */
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes linkY {
  /* Without this the DNA strand doesnt move and just stays there */
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=DNA.css.map */