*, *::before, *::after {
     padding: 0;
     margin: 0 auto;
     box-sizing: border-box;
 }
 
 $speed: 15s; 
 
 body {
     background-color: #111;
     color: #fff;
     min-height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 18px; // This is the size of the DNA strand..the size of the balls 
     perspective: 20em; // With this we see the DNA strand move on the x-axis as well..otherwise its just linear
     overflow-y: hidden;
 }
 
 .dna {
     position: relative;
     transform: rotate(15deg); // To give it a tilted look
     transform-style: preserve-3d; // To preserve perspective
 }
 
 .link {
     margin: 1em auto;
     width: 10em;
     height: 1em;
     transform-style: preserve-3d; // Very imp !!!...Without this they all look 2D 
     animation: linkY $speed infinite linear;
     animation-delay: var(--iad); //Created a variable here
     
     @for $i from 0 to 24 { /* This is for the DNA strand to look like DNA...without this it looks like a ladder (straight) */
         &:nth-child(#{$i + 1}) {
             --iad: #{$speed / -24 * $i}; //Value of iad to put in the delay
         }
     }
 
     @for $i from 0 to 4 { /* This is for the DNA strand to be colorful..without this it is plain black */
         &:nth-child(4n + #{$i + 1}) {
             --clr1: hsl(#{$i * 90 + 60}, 100%, 75%); /* These clr will determine the clr of the DNA strand */
             --clr2: hsl(#{($i + 2) * 90 + 60}, 100%, 75%); /* These clr will determine the clr of the DNA strand */
         }
     }
 
     & > div { /* Direct child divs inside link div...they are all the rods btw the Balls*/
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0.6; /* Opacity for the rods btw the balls */
         background-image: radial-gradient(#000, #0000), linear-gradient(90deg, var(--clr1), var(--clr2)); /* This is for the rods to have background as the hue rotate clr */
         box-shadow: 0 0 0.5em #fff7;
         animation: linkX $speed*0.5 infinite linear reverse;
         
         @keyframes linkX {
             0% { transform: rotateX(0deg);}
             100% { transform: rotateX(360deg);}
         }
         
         @for $i from 0 to 4 {
             &:nth-child(#{$i + 1}) {
                 animation-delay: calc(var(--iad) + #{$speed / -8 * $i});
             }
         }
     }
 
     &::before, &::after {
         content: '';
         position: absolute;
         top: -0.5em;
         width: 2em;
         height: 2em;
         border-radius: 50%; /* Makes the balls round */
         animation: linkY $speed infinite linear reverse;
         animation-delay: inherit;
     }
 
     &::before {
         left: -1.75em;
         box-shadow: 0 0 1em var(--clr1); //Clr of the shadow around the balls
         background-image: radial-gradient(circle at 50% 25%, #fff, var(--clr1), #000 90%); /* Makes the before pseduo code balls clrful */
     }
     
     &::after {
         right: -1.75em;
         box-shadow: 0 0 1em var(--clr2); //Clr of the shadow around the balls
         background-image: radial-gradient(circle at 50% 25%, #fff, var(--clr2), #000 90%); /* Makes the after pseduo code balls clrful */
     }
 
     @keyframes linkY { /* Without this the DNA strand doesnt move and just stays there */
         0% { transform: rotateY(0deg);}
         100% { transform: rotateY(360deg);}
     }
 }