
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.top{
    width: 100vw;
    height: 30vh;
    display: grid;
    place-items: center;
}

.top span{
    font-weight: 200;
    opacity: 0.6;
}

.top h2{
    margin: 45px 0px;
    opacity: 0.75;
    font-size: 35px;
}

.top p{
    font-size: 19px;
    opacity: 0.4;
    text-align: center;
}

.bottom{
    width: 100vw;
    height: 70vh;
    bottom: 0;
    display: flex;
}

.left{
    position: relative;
    display: grid;
    place-items: center;
    padding: 0 120px;
    height: 100%;
    width: 33%;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 120px;
    height: 100%;
    width: 33%;
}

.right{
    display: grid;
    place-items: center;
    padding: 0 120px;
    height: 100%;
    width: 33%;
}

.box{
    position: relative;
    border-radius: 10px;
    padding: 40px 50px;
    width: 100%;
    height: 40%;
    background-color: #fff;
    font-size: 18px;
    box-shadow: 
    0px -5px 0.05em rgba(83,204,203,255),
    0px 2px 0.5em rgb(112, 110, 110);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover{
    transform: scale(1.1);    
}

.box h3{
    margin: 10px 0px;
    opacity: 0.7;
}

.box p{
    width: 95%;
    font-size: 16px;
    opacity: 0.5;
}

.box img{
    position: absolute;
    width: 15%;
    right: 40px;    
    bottom: 25px;    
}

.center .box{
    box-shadow: 
    0px -5px 0.05em rgba(211,94,96,255),
    0px 2px 0.5em rgb(112, 110, 110);
}
.center .box:nth-child(2){
    box-shadow: 
    0px -5px 0.05em rgba(241,174,91,255),
    0px 2px 0.5em rgb(112, 110, 110);
}

.right .box{
    box-shadow: 
    0px -5px 0.05em rgba(91,156,230,255),
    0px 2px 0.5em rgb(112, 110, 110);
}